@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


ol {
  all: unset;
  aspect-ratio: 1 / 1;
  container-type: inline-size;
  display: grid;
  width: 100%;
  color: #fff;
  opacity: 30%;
}

li {
  aspect-ratio: 1 / 1;
  border: 1px solid;
  border-radius: 50%;
  display: grid;
  grid-area: 1 / 1;
  place-self: center;
  width: var(--d, 2cqi);
  
  &::after {
    animation: rotate var(--t, 3s) linear infinite;
    aspect-ratio: 1 / 1;
    background-image: var(--b); 
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    content: '';
    display: block;
    offset-path: content-box;
    width: var(--w, 4cqi);
    height: var(--h);
  }
}

@keyframes rotate {
  to {
    offset-distance: 100%;
  }
}

.sun {
  --d: 30cqi;
  --w: 30cqi;

  &::after {
    animation: none;
    offset-path: none;
    place-self: center;
  }
}


.earth {
  --d: 35cqi;
  --t: 6315.79ms;
  --w: 3.1579cqi;
}



.mars {
  --b: url('/1.png');
  --d: 45cqi;
  --t: 8421.05ms;
  --w: 3.7105cqi;
  
}

.mars::after {
  transform: rotate(145deg) translateY(-16px);
  opacity: 30%;
}

.jupiter {
  --b: url('/1.png');
  --d: 60cqi;
  --t: 12631.58ms;
  --w: 4.8158cqi;
}

.jupiter::after {
  transform: rotate(145deg) translateY(-18px);
  opacity: 100%;
}

.saturn {
  --d: 75cqi;
  --t: 14736.84ms;
  --w: 5.3684cqi;
}



.uranus {
  --b: url('/1.png');
  --d: 84.5cqi;
  --t: 15000.32ms;
  --w: 8cqi;
}

.uranus::after {
  transform: rotate(150deg) translateY(-115px);
}

@media screen and (max-width: 750px) {
  .uranus::after {
    transform: rotate(150deg) translateY(-20px);
    filter: drop-shadow(0 -10px 15px #5f7cc8) drop-shadow(50px -50px 50px #8fa4e4);
  }
}

.venus {
  --b: url('/big.png');
  --d: 98cqi;
  --t: 10526.32ms;
  --w: 15cqi;
  }



@media screen and (max-width: 750px) {
  .venus::after {
    transform: rotate(150deg) translateY(25px);
    filter: drop-shadow(0 -10px 15px #5f7cc8) drop-shadow(50px -50px 50px #8fa4e4);
  }
}

@media screen and (min-width: 1200px) {
  .venus::after {
    transform: rotate(145deg) translateY(-60px);
    filter: drop-shadow(0 -20px 20px #6f8cd8) drop-shadow(50px -50px 50px #a1b4f4);
  }
}


.pluto {
  --d: 110cqi;
  --t: 10526.32ms;
  --w: 10cqi;
}

